//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//}
//
//body {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  background: #232323;
//}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modalForm {
  display: flow;
  align-items: center;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 5px;
  position: absolute;
  max-width: 700px;
  width: 100%;
  top: 70px;
  left: calc(50% - 125px);
  bottom: 70px;

  background: #232323;
  padding: 25px 30px;
}

.modalForm .title {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
}
