.movie-genre {
  display: flex;
  background: #424242;
  height: 40px;

  .genre-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s all;

    &.active {
      color: red;
    }
  }
}
