.movieTileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movieItem {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.poster {
  width: 400px;
}

.movieDetails {
  display: flex;
  justify-content: space-between;
}

.title {
}

.release-year {
}

.genres {
}