.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  margin-right: 10px;
  background-color: #424242;
  color: white;
  border: none;
}

.search-container button {
  background-color: #f65261;
  border: none;
  color: white;
}
