.searchContainer {
  display: flex;
  align-items: center;
}

.searchContainerInput {
  margin-right: 10px;
  background-color: #424242;
  color: white;
  border: none;
}

.searchContainerButton {
  background-color: #f65261;
  border: none;
  color: white;
}
