.searchContainer {
  position: relative;
  top: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.searchContainer .inputSearch input {
  width: 300px;
  margin-right: 10px;
  border: none;
  height: 35px;
  background-color: #424242;
}

.searchContainer .searchButton {
  border: none;
  color: white;
  width: 150px;
  background-color: #f65261;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
