form .movieDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .movieDetails .inputBox {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.movieDetails .inputBox .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #f65261;
}

.movieDetails .inputBox input {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 5px;
  background-color: #424242;
  border: 1px solid #ccc;
  font-size: 16px;
}

.movieDetails .inputBox select {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 5px;
  background-color: #424242;
  border: 1px solid #ccc;
  font-size: 16px;
}

form .description {
  display: block;
  width: 100%;
}

form .description .title {
  margin-bottom: 10px;
  display: inline-block;
  color: #f65261;
}

form .description textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background: #424242;
}

form .buttons {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.buttons .resetButton {
  color: black;
}

.buttons .submitButton {
  margin-left: 10px;
  color: #f65261;
}

