.movieDetails {
  display: flex;
  align-items: flex-start;

  .movieDetailsPoster {
    margin-right: 2em;
  }

  .movieDetailsInfo {

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    align-items: center;

    .movieDetailsYear,
    .movieDetailsRating,
    .movieDetailsGenre {
      display: inline-block;
      margin: 0;
    }

    .movieDetailsTitle {
      grid-column: span 2;
      margin: 0;
    }

    .movieDetailsDescription {
      grid-column: span 2;
      margin-top: 1em;
    }
  }
}